@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

.title {
  text-align: center;
}
.title h2 {
  font-size: 36px;
  color: #1b1b1b;
  font-weight: 300;
}
.title p {
  font-size: 18px;
  font-weight: 400px;
  color: #9da8ad;
}
.navbar-default {
  background: transparent;
  border: none;
  margin-bottom: 0;
}
ul li {
  /* list-style: none; */
}

.search-field {
  margin-top: 10px;
}

#service {
  padding: 80px 0 100px;
}
#service .title {
  padding-bottom: 90px;
}
#service .title h2 {
  margin-top: 0;
}
#service .block {
  text-align: center;
}
#service .block h3 {
  color: #202d33;
  line-height: 48px;
  margin-bottom: 0;
}
#service .block p {
  color: #707b82;
  line-height: 30px;
  padding: 0 20px;
}
#showcase {
  background-image: url("../images/showcase-bg.jpg");
  background-size: cover;
  baxkground-repeat: no-repeat;
}
#showcase .block {
  padding-top: 90px;
}
#showcase .block img {
  margin-bottom: -228px;
}
#feature {
  padding: 10px 0 105px 0;
}
#feature .title {
  margin-bottom: 60px;
}
#feature .block .media {
  margin-bottom: 33px;
}
#feature .block .media:last-child {
  margin-bottom: 0;
}
#feature .block .media h4 {
  color: #1b1b1b;
}
#feature .block .media p {
  color: #999999;
}
#feature .block .media > .pull-left {
  padding-right: 20px;
}
#testimonial {
  background: url('../images/testimonial-bg.jpg') no-repeat;
  background-size: cover;
  padding: 100px 0;
}
#testimonial .block {
  text-align: center;
}
#testimonial .block h5 {
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  color: #fff;
  display: inline-block;
  padding: 20px;
  font-size: 20px;
  width: 65%;
  margin: 0 auto;
}
#testimonial .block h5 span {
  font-size: 12px;
}
#team {
  padding: 80px 0 90px 0;
}
#team .title {
  margin-bottom: 50px;
}
#team .social-link {
  margin-top: 15px;
}
#team .social-link a {
  display: inline-block;
}
#team .btn-facebook {
  background: #6788ce;
  color: #fff;
  border-radius: 50%;
  padding: 9px 14px;
  font-size: 17px;
  line-height: 1;
  margin-right: 5px;
}
#team .btn-twitter {
  background: #29c5f6;
  color: #fff;
  border-radius: 50%;
  padding: 8px 9px;
  font-size: 20px;
  line-height: 1;
}
#team .media .pull-left {
  padding-right: 25px;
}
#team .media .media-heading {
  margin-top: 35px;
  font-size: 21px;
}
#team .media p {
  font-size: 16px;
  color: #707b82;
}
#gptBanner a, #gptBanner a:hover {
	color: #FFF;
	text-decoration: none;
    float: right;
}
#gptBanner span {
	color: #FFF;
    float: right;
}
.bigGreen {
    -webkit-appearance: none;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: none;
    background-color: rgb(118, 182, 108);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.14902) 100%);
    background-image: -ms-linear-gradient(top,rgba(255,255,255,.2) 0%,rgba(0,0,0,.15) 100%);
    background-image:-moz-linear-gradient(top,rgba(255,255,255,.2) 0%,rgba(0,0,0,.15) 100%);
    background-image: linear-gradient(top,rgba(255,255,255,.2) 0%,rgba(0,0,0,.15) 100%);
    border-bottom-color: rgb(118, 182, 108);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(118, 182, 108);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(118, 182, 108);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(118, 182, 108);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    border-radius: 4px;
	border: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 24px;
    letter-spacing: normal;
    line-height: 22px;
    max-width: 100%;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-transform: none;
    transition-delay: 0s, 0s, 0s, 0s, 0s, 0s, 0s;
    transition-duration: 0.25s, 0.25s, 0.25s, 0.25s, 0.25s, 0.25s, 0.25s;
    transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
    transition-timing-function: linear, linear, linear, linear, linear, linear, linear;
    vertical-align: baseline;
    word-spacing: 0px;
    word-wrap: break-word;
    writing-mode: lr-tb;
    -webkit-writing-mode: horizontal-tb;
}
.bigGreen:hover{
    background-color: #85cf7a;
    border-color: #85cf7a;
    outline: 0;
}
